/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */

.progress {
	
    
    font-size: 40px;
    font-weight:bold;
    color:skyblue; 
    margin-left: 30%;



}
.stopwatch {
	margin-top: 90%;	

}
#btn button{
	float: left;
	margin-left: 1em;
	width: 40%;
	margin-top: 30px;
	

}
#btn button{
	float: right;
	margin-right:1em;
	width: 40%;
	margin-top: 30%;
		
}


.item-label{
	
	font-size: 20px;
	font-style:italic;
	font-family: sans-serif;
	float: left;
	margin-top: 10px;
}

.item-input { 
    font-size: 2vh !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}

.item-input{
	padding: 5px;
	margin-top: 10px;
	text-align: justify;

}

.padding{
	padding: 18px;
	margin-top:12px;
	

}
.padding1{
	padding: 10px;

	/*background-image: url('../img/.jpg');
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;*/
	


}
.padding2{
	padding:10px;
	/*background-image: url('../img/.jpg');
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;*/
}

.timer{
	/*background-image: url('../img/a1.jpg');
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
*/

}


#header1{
	margin-top: 70px;
	font-size: 40px;
	color:;
	text-align: justify;
	text-align: center;
	font-style: italic;
	font-family: Serif;
	font-weight:;
	text-shadow: 2px 1px black;
	margin-bottom: 12px;

}
#header{
	margin-top: 40px;
	font-size: 40px;
	color:;
	text-align: justify;
	text-align: center;
	font-style: italic;
	font-family: Serif;
	font-weight: ;
	text-shadow: 2px 1px black;
	margin-bottom: 1.5em;

}
.val{
	text-align: left;
	font-size: 1em;
	color: red;
	margin-top: 12px;
	font-weight:italic;
	
}

.input-label{
	font-size: 13px;
	color:black;
	font-style: italic;

	

}

#email {
    background-color:rgba(0, 0, 0, 0);
    border: none;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}
#email:focus {
    height:50px;
    font-size:16px;
}



.item-input{
	margin-top: 30px;
}


#abc{
	margin-top: 2em;
}

.myPopup > .popup {
    color: #888888;
    font-size: 16px;
    padding: 0px 10px 0px 15px;
    text-align: center;
    background-color: #fff!important;
}
.myPopup .popup-title {
    color: #46464e;
    font-size: 18px;
}
.myPopup .popup-buttons .button {
    background-color:goldenrod!important;
    display: block;
    width: 40px!important;
    padding:5px;
}
.myPopup .popup-buttons .button:hover {
    background-color: transparent!important;
    font-size: 17px;    
}

#reset{
	width: 60%;
	margin-top:50%;
	margin-left: 20%;
}

#password:focus {
    height:50px;
    font-size:16px;
}
#fname:focus {
    height:50px;
    font-size:16px;
}
#lname:focus {
    height:50px;
    font-size:16px;
}
#phone:focus {
    height:50px;
    font-size:16px;
}
#cpass:focus {
    height:50px;
    font-size:16px;
}